#Ignore objects directory created by compiling with codeblocks.
*.o
#Ignore compiled binary
lo_servertest
#Ignore accounts database
accounts.db
#Ignore  codeblocks's backups
*.backup
#IIgnore eventual logfiles
log/*log
