#Ignore objects directory created by compiling with codeblocks.
*.o
#Ignore compiled binary
lod
lod_dbg
lo_servertest
lo_servertest_release*
build/*
#Ignore accounts database
accounts.db
#Ignore  codeblocks's backups
*.backup
#IIgnore eventual logfiles
src/log/*log
#Ignore codeblocks useless files
*.depend
*.layout
#Ignore Scons tmp files
.sconsign.dblite
.sconf_temp/*
#Ignore API documentation
Doc/*
#Ignore Kdevelop personal project files.
lo_server.kdevelop.pcs
lo_server.kdevses
config.log
#Ignore ctags file
tags
